@font-face {
  font-family: "primary-font";
  src: url(assets/font/RobotoSlab-Regular.ttf);
}

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: "primary-font";
}

body {
  background-color: #e0cacc;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: #ffffff;
  height: fit-content;
  width: 58vw;
  padding: 30px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  display: flex;
  flex-direction: column;
  transition: 0.4s ease-in-out;
}

.card:hover {
  transform: scale(1.1);
}

.product-info {
  display: flex;
  flex-direction: row-reverse;
}

.text {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 5px;
}

#catogary {
  color: #aa336a;
}
#price {
  color: #aa336a;
}

.image-cont {
  height: fit-content;
  width: 100%;
}

.image-cont img {
  height: 250px;
}

.selections {
  display: flex;
  flex-direction: row;
}

.size-container {
  height: fit-content;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.size-opt {
  width: 100%;
  color: #aa336a;
  font-size: medium;
  font-weight: 300;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.size1,
.size2,
.size3,
.size4,
.size5 {
  border: 2px solid #aa336a;
  border-radius: 10px;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.button button {
  color: white;
  outline: none;
  cursor: pointer;
  background-color: #aa336a;
  border-color: #aa336a;
  border-radius: 5px;
  font-size: large;
  padding: 11px;
}

.button button:active {
  opacity: 0.8;
}
